<a href="{{ post.url }}"><h2 id="{{ post.title }}">{{ post.title }}</h2></a>
{{ post.content }}
<table class="project-details">
	<tr>
		<td>Mentors</td>
		<td>{{ post.mentors }}</td>
	</tr>
	{% if post.skill-level %}
	<tr>
	  <td>Skill Level</td>
	  <td>{{ post.skill-level }}</td>
	</tr>
	{% endif %}
	{% if post.skills %}
	<tr>
	  <td>Skills</td>
	  <td>{{ post.skills }}</td>
	</tr>
	{% endif %}
	{% if post.student %}
	<tr>
	  <td>Student</td>
	  <td>{{ post.student }}</td>
	</tr>
	{% endif %}
	{% if post.links %}
	<tr>
	  <td>Links</td>
	  <td>{{ post.links }}</td>
	</tr>
	{% endif %}
</table>
<br />