---
title: FOSSASIA Labs
layout: index
---
<h2><a href="about.html">about our projects</a></h2>
<hr/>

<h2>Looking for Google Summer of Code Projects?</h2>
<p>
See the list below. If you have questions about GSoC please check the <a
href="http://www.google-melange.com/gsoc/document/show/gsoc_program/google/gsoc2015/help_page">FAQ</a>.
For project specific questions contact the respective mentors.
</p>

<h2>Mentor Office Hours</h2>
<p>
Some mentors are available at certain times specifically for GSoC projects:
<ul>
  <li><strong>Martin Bähr</strong>: saturdays from 2pm to 6pm chinese time, that is 7am to 11am CET or 6am to 10am UTC. You can find him on freenode irc in the channel #fossasia. <em>(other times are possible, but don't expect an immideate answer)</em></li>
</ul>
</p>

<hr/>
<h2>Our Projects:</h2>
<p>Find more projects on github for <a href="http://github.com/fossasia/">FOSSASIA itself</a> and for our friends at <a href="https://github.com/fashiontec/">FashionTec</a>.
If you have questions about these projects on github, submit an issue on the github
issue trackers and tag it as a question.
</p>

<h2 style="color: green">Current open projects or project ideas:</h2>

<ul>
  {% for post in site.posts %}
    {% if post.status contains "open" %}
      <li>
        {% include post-detail.html %}
      </li>
    {% endif %}
  {% endfor %}
</ul><hr/>
<h2 style="color: purple">Projects being currently worked on:</h2>
<ul>
  {% for post in site.posts %}
    {% if post.status contains "dev" %}
      <li>
        {% include post-detail.html %}
      </li>
    {% endif %}
  {% endfor %}
</ul><hr/>
<h2 style="color: red">Closed projects or projects ideas:</h2>
<ul>
  {% for post in site.posts %}
    {% if post.status contains "close" %}
      <li>
        {% include post-detail.html %}
      </li>
    {% endif %}
  {% endfor %}
</ul><hr/>
