
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #c3c3c0;
  background-image: -moz-linear-gradient(top, #ffffff 0%, #c3c3c0 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #c3c3c0 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #c3c3c0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #c3c3c0));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #c3c3c0 100%);
  background-image: linear-gradient(top, #ffffff 0%, #c3c3c0 100%);
}
a {
  color: #e80707;
}
a:hover,
a:focus {
  color: #ff1414;
}
a:active {
  color: #fe4a4a;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
  background: #292929;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #2e2d2e;
}
