---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="images/fossasia.ico" type="image/vnd.microsoft.icon" />
    <link rel="canonical" href="{{ page.url }}" />
    <meta name="author" content="FOSSASIA Labs" />
    <meta name="keywords" content="fossasia, open source, foss, projects, labs, asia" />
    <meta name="description" content="FOSSASIA is a Free and Open Source Software (FOSS) event for developers, officials and users from South-East Asia. Its main goal is to foster FOSS projects in Asia." />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="FOSSASIA Labs" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://raw.githubusercontent.com/fossasia/labs.fossasia.org/gh-pages/images/fossasia.png" />
    <title>{{ page.title }} | FOSSASIA Labs | Open Source Technnology Community in Asia</title>
    <style type="text/css" media="all">
      @import url("{{ site.baseurl }}/stylesheets/system.css");
      @import url("{{ site.baseurl }}/stylesheets/system.menus.css");
      @import url("{{ site.baseurl }}/stylesheets/system.messages.css");
      @import url("{{ site.baseurl }}/stylesheets/system.theme.css");
      @import url("{{ site.baseurl }}/stylesheets/field.css");
      @import url("{{ site.baseurl }}/stylesheets/node.css");
      @import url("{{ site.baseurl }}/stylesheets/user.css");
      @import url("{{ site.baseurl }}/stylesheets/dhtml.css");
      @import url("{{ site.baseurl }}/stylesheets/tagadelic.css");
      @import url("{{ site.baseurl }}/stylesheets/layout.css");
      @import url("{{ site.baseurl }}/stylesheets/style.css");
      @import url("{{ site.baseurl }}/stylesheets/colors.css");
    </style>
    <style type="text/css" media="print">
      @import url("{{ site.baseurl }}/stylesheets/print.css");
    </style>
    <!--[if lte IE 7]>
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/stylesheets/ie.css" media="all" />
    <![endif]-->
    <!--[if IE 6]>
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/stylesheets/ie6.css" media="all" />
    <![endif]-->
  </head>
  <body class="html not-front not-logged-in one-sidebar sidebar-second page-node page-node- page-node-252 node-type-page triptych" >
    <div id="skip-link">
      <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    </div>
    <div id="page-wrapper">
      <div id="page">
        <div id="header" class="with-secondary-menu">
          <div class="section clearfix">
            <a href="http://labs.fossasia.org" title="Home" rel="home" id="logo">
            <img src="{{ site.baseurl }}/images/fossasia.png" alt="Home" />
            </a>
            <div id="name-and-slogan" class="element-invisible">
              <div id="site-name" class="element-invisible">
                <strong>
                <a href="http://blog.fossasia.org" title="Home" rel="home"><span>FOSSASIA Blog | Open Source Technnology Community in Asia </span></a>
                </strong>
              </div>
              <div id="site-slogan" class="element-invisible">
                Open Source Technnology Community in Asia          
              </div>
            </div>
            <!-- /#name-and-slogan -->
            <div id="main-menu" class="navigation">
              <h2 class="element-invisible">Main menu</h2>
              <ul id="main-menu-links" class="links clearfix">
                <li class="menu-4123 first"><a href="http://blog.fossasia.org/about" title="">About</a></li>
                <li class="menu-3894"><a href="http://blog.fossasia.org/join-us" title="">Join us</a></li>
                <li class="menu-3894"><a href="http://blog.fossasia.org/" title="">Blog</a></li>
                <li class="menu-3895 active-trail active"><a href="http://labs.fossasia.org/" title="" class="active-trail active">Labs</a></li>
                <li class="menu-3893"><a href="http://blog.fossasia.org/events" title="">Events</a></li>
                <li class="menu-3892"><a href="http://blog.fossasia.org/code-conduct" title="">Code of Conduct</a></li>
                <li class="menu-3867"><a href="http://blog.fossasia.org/contact" title="">Contact</a></li>
                <li class="menu-4107"><a href="http://fossasia.net" title="">ASIA Community Network</a></li>
                <li class="menu-3535 last"><a href="http://fossasia.org" title="">FOSSASIA&#039;15</a></li>
              </ul>
            </div>
            <!-- /#main-menu -->
            <div id="secondary-menu" class="navigation">
              <h2 class="element-invisible">Secondary menu</h2>
              <ul id="secondary-menu-links" class="links inline clearfix">
                <li class="menu-3557 first"><a href="http://2010.fossasia.org" title="">FOSSASIA &#039;10</a></li>
                <li class="menu-3558"><a href="http://2011.fossasia.org" title="">FOSSASIA &#039;11</a></li>
                <li class="menu-3559"><a href="http://opendesign.asia" title="">FOSSASIA &#039;12</a></li>
                <li class="menu-3540 last"><a href="http://2014.fossasia.org" title="">FOSSASIA &#039;14</a></li>
              </ul>
            </div>
            <!-- /#secondary-menu -->
          </div>
        </div>
        <!-- /.section, /#header -->
        <div id="main-wrapper" class="clearfix">
          <div id="main" class="clearfix">
            <div id="breadcrumb">
              <h2 class="element-invisible">You are here</h2>
              <div class="breadcrumb"><a href="http://labs.fossasia.org">Home</a></div>
            </div>
            <div id="content" class="column">
              <div class="section">
                <a id="main-content"></a>
                <h1 class="title" id="page-title">{{ page.title }}</h1>
                <div class="tabs">
                </div>
                <div class="region region-content">
                  <div id="block-system-main" class="block block-system">
                    <div class="content">
                      <div id="node-252" class="node node-page node-full clearfix">
                        <div class="content clearfix">
                          <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                            <div class="field-items">
                              <div class="field-item even">
                                {{ content }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.section, /#content -->
            <div id="sidebar-second" class="column sidebar">
              <div class="section">
                <div class="region region-sidebar-second">
                  <div id="block-block-19" class="block block-block">
                    <div class="content">
                      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/fossasia" data-widget-id="312420098352742400">Tweets by @fossasia</a>
                      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                      <script>
                        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                        
                        ga('create', 'UA-17146009-5', 'auto');
                        ga('send', 'pageview');
                        
                      </script>  
                    </div>
                  </div>
                  <div id="block-block-34" class="block block-block">
                    <h2>FOSSASIA Updates</h2>
                    <div class="content">
                      <form action="http://fossasia.createsend.com/t/t/s/krihdd/" method="post" id="subForm">
                        <p>
                          <label for="fieldName">Name</label><br />
                          <input id="fieldName" style="max-width: 80%; margin: 2px" name="cm-name" type="text" />
                        </p>
                        <p>
                          <label for="fieldEmail">Email</label><br />
                          <input id="fieldEmail" style="max-width: 80%; margin: 2px" name="cm-krihdd-krihdd" type="email" required />
                        </p>
                        <p>
                          <button type="submit">Subscribe</button>
                        </p>
                      </form>
                    </div>
                  </div>
                  <div id="block-block-2" class="block block-block">
                    <h2>Facebook</h2>
                    <div class="content">
                      <iframe scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 181px; height: 395px;" src="http://www.facebook.com/plugins/likebox.php?id=126893747338271&amp;width=181&amp;connections=15&amp;stream=false&amp;header=false&amp;height=395"></iframe>  
                    </div>
                  </div>
                  <div id="block-menu-menu-our-friend" class="block block-menu">
                    <h2>Our Friends</h2>
                    <div class="content">
                      <ul class="menu clearfix">
                        <li class="first leaf"><a href="http://google-opensource.blogspot.de/" title="">Google OSPO</a></li>
                        <li class="leaf"><a href="http://icos.org.tw/">ICOS, Taiwan</a></li>
                        <li class="leaf"><a href="http://beijinglug.org" title="">Beijinglug</a></li>
                        <li class="leaf"><a href="http://hpdang.com">HPDang</a></li>
                        <li class="leaf"><a href="http://opentechsummit.net" title="">OpenTechSummit</a></li>
                        <li class="leaf"><a href="http://www.fisl.org.br/">FISL, Brazil</a></li>
                        <li class="leaf"><a href="http://meshcon.net" title="">MeshCon FashionTec Week</a></li>
                        <li class="leaf"><a href="http://www.fosdem.org/">FOSDEM, Brussels</a></li>
                        <li class="leaf"><a href="http://perspektive89.com">Perspektive&#039;89</a></li>
                        <li class="leaf"><a href="http://libregraphics.asia">Libre Graphics Images Indonesia</a></li>
                        <li class="leaf"><a href="http://mekongtours.info" title="">Fair Travel Mekong Tours</a></li>
                        <li class="leaf"><a href="http://www.froscon.de">FrOScon</a></li>
                        <li class="leaf"><a href="http://hackerspace.sg">Hackerspace Singapore</a></li>
                        <li class="leaf"><a href="http://www.laquadrature.net">La Quadrature du Net</a></li>
                        <li class="last leaf"><a href="http://fashiontec.org" title="">FashionTec</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.section, /#sidebar-second -->
          </div>
        </div>
        <!-- /#main, /#main-wrapper -->
        <div id="triptych-wrapper">
          <div id="triptych" class="clearfix">
            <div class="region region-triptych-first">
              <div id="block-menu-menu-social-media" class="block block-menu">
                <h2>Social Media</h2>
                <div class="content">
                  <ul class="menu clearfix">
                    <li class="first leaf"><a href="http://facebook.com/fossasia" title="">FOSSASIA on Facebook</a></li>
                    <li class="leaf"><a href="https://plus.google.com/108920596016838318216" title="">FOSSASIA on Google+</a></li>
                    <li class="leaf"><a href="http://twitter.com/fossasia" title="">FOSSASIA on Twitter</a></li>
                    <li class="leaf"><a href="https://www.flickr.com/photos/fossasia/" title="">FOSSASIA on Flickr</a></li>
                    <li class="leaf"><a href="https://www.linkedin.com/groups/FOSSASIA-3762811" title="">FOSSASIA on LinkedIn</a></li>
                    <li class="last leaf"><a href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ" title="">FOSSASIA on YouTube</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="region region-triptych-middle">
              <div id="block-menu-menu-fossasia-agenda" class="block block-menu">
                <h2>FOSSASIA</h2>
                <div class="content">
                  <ul class="menu clearfix">
                    <li class="first leaf"><a href="https://github.com/fossasia/" title="">FOSSASIA on Github</a></li>
                    <li class="leaf"><a href="http://fossasia.net" title="">FOSSASIA Community Network</a></li>
                    <li class="leaf"><a href="http://blog.fossasia.org/code-conduct" title="">Code of Conduct</a></li>
                    <li class="leaf"><a href="http://fossasia.org" title="">FOSSASIA Summit</a></li>
                    <li class="leaf"><a href="https://en.wikipedia.org/wiki/FOSSASIA" title="">FOSSASIA on Wikipedia</a></li>
                    <li class="last leaf"><a href="https://groups.google.com/forum/#!forum/fossasia" title="">Mailing List</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="region region-triptych-last">
              <div id="block-tagadelic-taxonomy-tagadelic-taxonomy" class="block block-tagadelic-taxonomy">
                <h2>Tag cloud</h2>
                <div class="content">
                  <ul class="tag-cloud">
                    <li>
                      <a href="http://blog.fossasia.org/tags/fossasia" class="level6">FOSSASIA</a>  
                    </li>
                    <li>
                      <a href="http://blog.fossasia.org/tags/gsoc" class="level3">GSoC</a>  
                    </li>
                    <li>
                      <a href="http://blog.fossasia.org/tags/google-summer-code" class="level3">Google Summer of Code</a>  
                    </li>
                    <li>
                      <a href="http://blog.fossasia.org/tags/community" class="level2">Community</a>  
                    </li>
                    <li>
                      <a href="http://blog.fossasia.org/tags/event" class="level2">Event</a>  
                    </li>
                    <li>
                      <a href="http://blog.fossasia.org/tags/phnom-penh" class="level2">Phnom Penh</a>  
                    </li>
                    <li>
                      <a href="http://blog.fossasia.org/tags/fossasia-2014" class="level2">FOSSASIA 2014</a>  
                    </li>
                    <li>
                      <a href="http://blog.fossasia.org/tags/cambodia" class="level2">Cambodia</a>  
                    </li>
                    <li>
                      <a href="http://blog.fossasia.org/tags/google" class="level2">Google</a>  
                    </li>
                    <li>
                      <a href="http://blog.fossasia.org/tags/libre-graphics-meeting" class="level2">Libre Graphics Meeting</a>  
                    </li>
                    <li>
                      <a href="http://blog.fossasia.org/tags/meetup" class="level1">Meetup</a>  
                    </li>
                    <li>
                      <a href="http://blog.fossasia.org/tags/summit" class="level1">Summit</a>  
                    </li>
                  </ul>
                  <a href="http://blog.fossasia.org/tagadelic_taxonomy" class="more">More tags</a>  
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /#triptych, /#triptych-wrapper -->
        <div id="footer-wrapper">
          <div class="section">
            <div id="footer" class="clearfix">
              <div class="region region-footer">
                <div id="block-block-4" class="block block-block">
                  <div class="content">
                    <!-- Start of Flickr Badge -->
                    <style type="text/css">
                      #flickr_badge_source_txt {padding:0; font: 11px Arial, Helvetica, Sans serif; color:#666666;}
                      #flickr_badge_icon {display:block !important; margin:0 !important; border: 1px solid rgb(0, 0, 0) !important;}
                      #flickr_icon_td {padding:0 5px 0 0 !important;}
                      .flickr_badge_image {text-align:center !important; padding: 5px 8px 5px 0px !important;}
                      .flickr_badge_image img {border: 1px solid #BBBBBB; background-color: #FFFFFF; padding: 4px;}
                      #flickr_www {display:block; padding:0 10px 0 10px !important; font: 11px Arial, Helvetica, Sans serif !important; color:#3993ff !important;}
                      #flickr_badge_uber_wrapper a:hover,
                      #flickr_badge_uber_wrapper a:link,
                      #flickr_badge_uber_wrapper a:active,
                      #flickr_badge_uber_wrapper a:visited {text-decoration:none !important; background:inherit !important;color:#3993ff;}
                      #flickr_badge_wrapper {background-color:none;border: none; border-collapse: collapse;}
                      #flickr_badge_wrapper tbody { border: none; }
                      #flickr_badge_source {padding:0 !important; font: 11px Arial, Helvetica, Sans serif !important; color:#666666 !important;}
                    </style>
                    <table cellpadding="0" cellspacing="10" border="0" id="flickr_badge_wrapper">
                      <tr>
                        <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&display=latest&size=t&layout=h&source=all_tag&tag=fossasia"></script>
                      </tr>
                    </table>
                    <!-- End of Flickr Badge -->
                    <p align="right"><a href="http://www.flickr.com/search/?q=fossasia&m=tags" target="_blank">more</a></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /#footer -->
          </div>
        </div>
        <!-- /.section, /#footer-wrapper -->
      </div>
    </div>
    <!-- /#page, /#page-wrapper -->

    <!-- scripts -->
    <script type="text/javascript" src="{{ site.baseurl }}/javascripts/jquery.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/javascripts/jquery.once.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/javascripts/drupal.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/javascripts/dhtml.js"></script>
    
    <!-- custom javascript -->
    <script data-cfasync="false" src="{{ site.baseurl }}/javascripts/custom.js" type="text/javascript"></script>
  </body>
</html>
